:root {
    --background: #ffffff;
    --foreground: #020617;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.dark {
    --background: #020617;
    --foreground: #f8fafc;
}